@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.about__Myself__Divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 5rem;
	margin-top: 5rem;
	background-color: #290333;
    border: 3px solid #100014;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 10px #100014;
}

.about__Myself__Divs:last-of-type {
	margin-bottom: 5rem;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 1rem;
	padding: 2rem;
	background-color: #3f064e;
    border: 3px solid #100014;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 5px #100014;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 2rem;
	background-color: transparent;
}

.Frame {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.Frame img {
  width: 120px;
  height: 155px;
  padding: 0;
  margin: 0;
  border: 2px solid #100014;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 3px #100014;
}

.Frame p {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  color: #fcf9c6;
  text-decoration: none;
  font-size: 0.8rem;
  background-color: transparent;
  margin: 0;
}

@media(max-width: 1700px) {
    .about__Myself__Divs {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}