.Class-Photos-Div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
	padding: 5rem;
	margin-top: 5rem;
    margin-bottom: 5rem;
	background-color: #290333;
    border: 2px solid #6e1586;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px #6e1586;
    gap: 2rem;
}

.carousel-container {
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid #6e1586;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px #6e1586;
}

.carousel-slide {
    display: flex;
    width: 100%;
}

.carousel-slide img {
    min-width: 100%;
    aspect-ratio: 16/9;
    object-fit: fill;
}

.paras {
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid #6e1586;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px #6e1586;
}

#prev {
    position: absolute;
    z-index: 10;
    left: 0;
    width: 10%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#next {
    position: absolute;
    z-index: 10;
    right: 0;
    width: 10%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#prev img, #next img{
    display: none;
    width: 30%;
    background-color: transparent;
}

#prev:hover, #next:hover {
    background-color: #290333b9;
    backdrop-filter: blur(10px);
}

#prev:hover img, #next:hover img {
    display: block;
}