.class__Photos__Div {
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 2rem;
	margin-top: 5rem;
    margin-bottom: 5rem;
	background-color: #290333;
    border: 3px solid #100014;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 10px #100014;
    gap: 0.5rem;
}

.carousel-container {
    width: 70%;
    margin: 0;
    overflow: hidden;
    border: 2px solid #100014;
	border-radius: 1.5rem;
	box-shadow: 3px 3px 5px #100014;
	background-color: transparent;
}

.carousel-slide {
    display: flex;
    width: 100%;
}

.carousel-slide img {
    min-width: 100%;
    aspect-ratio: 16/9;
    object-fit: fill;
}

#prevBtn {
    z-index: 10;
    width: 2rem;
    background-color: #6e1586;
    cursor: pointer;
    border: 2px solid #100014;
	border-radius: 0.5rem;
	box-shadow: 3px 3px 5px #100014;
}

#nextBtn {
    z-index: 10;
    width: 2rem;
    background-color: #6e1586;
    cursor: pointer;
    border: 2px solid #100014;
	border-radius: 0.5rem;
	box-shadow: 3px 3px 5px #100014;
}