body {
    padding: 5rem 10rem;
}

.container {
    padding: 0px;
}

.slider-wrapper {
    position: relative;
    max-width: 78%;
    margin: 0 auto;
    border: 5px solid #3f064e;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 0px #3f064e;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 1.5rem;
    scroll-snap-stop: always;
}

.slider img {
    flex: 0 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
    min-width: 100%;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: transparent;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    opacity: 50%;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}