.family__Members__Divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5rem;
	margin-top: 5rem;
    background-color: #290333;
    border: 3px solid #100014;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 10px #100014;
    gap: 2rem;
}

.family__Members__Divs:last-of-type {
    margin-bottom: 5rem;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1.5rem;
    background-color: transparent;
}

.Frame {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px;
	margin: 0;
	border: 2px solid #100014;
	border-radius: 1.5rem;
	box-shadow: 3px 3px 5px #100014;
	background-color: #6e1586;
	width: 100%;
}

.Frame p {
	font-family: 'Inter', sans-serif;
	font-weight: 200;
	color: #fcf9c6;
	text-decoration: none;
	font-size: 0.8rem;
	background-color: transparent;
	margin: 0;
	padding: 10px;
}

.Frame img {
    aspect-ratio: 5/6;
	object-fit: cover;
    width: 100%;
	border-bottom: 3px solid #100014;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
	border-bottom-left-radius: 0rem;
	border-bottom-right-radius: 0rem;
}