.family__Members__Divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5rem;
	margin-top: 5rem;
    background-color: #290333;
    border: 3px solid #100014;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 10px #100014;
    gap: 2rem;
}

.family__Members__Divs:last-of-type {
    margin-bottom: 5rem;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1.5rem;
    background-color: transparent;
}

.gallery img {
    aspect-ratio: 5/6;
    width: 100%;
    border: 3px solid #100014;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 5px #100014;
}