/*---------------------------------------------------------------------------------------- ALL PAGES CSS -------------------------------------------------------------------------------------------*/

/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/* HTML, Body and common stuff CSS */

html, body {
    height: 100dvh;
    overflow-x: hidden;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
}

body {
	overflow: overlay;
    background-image: var(--background);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	font-family: "Inter", sans-serif;
	font-weight: 200;
	color: var(--font-color);
	text-decoration: none;
}

:root {
    --background: linear-gradient(#4d045f , #100014);
    --main-color: #290333;
    --main-color-translucent: #290333b7;
    --accent-color-1: #6e1586;
    --accent-color-2: #cdb5d1;
    --font-color: #fcf9c6;
    --nav-alt-color: #1a0120bd;
}

/* :root {
    --background: linear-gradient(#ffffff , #fcf9c6);
    --main-color: #fcf9c6;
    --main-color-translucent: #fcf9c6b7;
    --accent-color-1: #cdb5d1;
    --accent-color-2: #6e1586;
    --font-color: #290333;
    --nav-alt-color: #ffffffbd;
} */

/* Content CSS */

.headings {
    font-family: inherit;
    font-weight: 800;
    font-size: clamp(3rem, 8vw, 6rem);
    text-shadow: 5px 5px 3px var(--accent-color-1);
    color: inherit;
    text-decoration: inherit;
    display: flex;

    ~.heading-icons {
        height: clamp(3rem, 8vw, 6rem);
        aspect-ratio: 1/0.9;
        padding-left: 10px;
    }
}

.paras, .paras a{
	text-align: justify;
	font-size: 1rem;
    text-shadow: 3px 3px 2px var(--accent-color-1);
}

/* Scrollbar CSS */

::-webkit-scrollbar {
	width: 0.3rem;
	background: var(--main-color);
}

::-webkit-scrollbar-track {
	background: var(--main-color);
}

::-webkit-scrollbar-track-piece {
	background: var(--main-color);
}

::-webkit-scrollbar-thumb {
  	background-color: var(--font-color);
}

/* For the page preloader */

.preloader {
    background: var(--main-color) url(./Images/Loading-Gear.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.preloader--hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.75s, visibility 0.75s;
}

/*------------------------------------------------------------------------------------ NAV AND SIDE BARS CSS ---------------------------------------------------------------------------------------*/

/* NavBar CSS */

.navbar {
    width: 100%;
    height: 10dvh;
    padding: 0rem min(5rem, 5%);
    display: flex;
    z-index: 11;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: -6rem;
    left: 0;
    animation: stickyNav linear forwards;
    animation-timeline: view();
    animation-range-start: 120vh;
    animation-range-end: 150vh;

    #logo {
        display: var(--_logoDisplay, flex);
        font-family: 'Montserrat', sans-serif;
        font-size: clamp(1.5rem, 20vw, 1.8rem);
        color: var(--accent-color-2);
        transition: all 0.5s ease;
        
        &:hover {
            color: white;
            transform: none;
        }
    }

    ul {
        list-style-type: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    a {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        outline: none;
        color: var(--accent-color-2);
        height: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        transition: all 0.5s ease;

        &:hover {
            color: white;
            transform: translateY(3px);
            text-shadow: 3px 3px 2px var(--main-color);
        }
    }

    li:hover .nav-item-div::after {
        width: 100%;
    }
}

@keyframes stickyNav {
    0%, 100% {
        width: fit-content;
        margin-inline: auto;
        padding: 0rem 2rem;
        border-radius: 0.5rem;
        background-color: var(--nav-alt-color);
        backdrop-filter: blur(10px);
        --_logoDisplay: none;
        --_navbarSub-bg: #370744;
    }
    100% {
        top: 1rem;
    }
}

.nav-item-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    gap: 5px;
    height: 100%;
    cursor: pointer;

    img {
        width: 20px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: white;
        transition: all 0.5s ease;
        transform: translateX(-50%);
    }
}

/* NavBar - Sub Menu CSS */

.navbar li:hover .nav-bar-sub {
    height: auto;
    background-color: var(--_navbarSub-bg, var(--main-color));
}

.nav-bar-sub {
    display: block;
    position: absolute;
    height: 0;
    overflow: hidden;
    interpolate-size: allow-keywords;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    transition: all 0.5s ease;

    ul {
        list-style-type: none;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
    }

    li {
        width: 100%;
        padding: 0;
        transition: all 0.5s ease;

        &:last-child {
            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

        &:hover {
            background-color: var(--accent-color-1);
            border-bottom: none;
        }
    }

    a {
        width: 100%;
        padding: 1rem 1rem;

        &:hover {
            transform: none;
        }
    }
}

/* SideBar CSS */

#sidebar {
    position: fixed;
    top: 0;
    right: -50vw;
    height: 100dvh;
    width: 50vw;
    z-index: 999;
    padding: 2rem 1rem;
    background-color: var(--nav-alt-color);
    backdrop-filter: blur(10px);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    transition: 0.5s ease-in-out;

    ul {
        &:first-child{
            list-style-type: none;
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }

        &::-webkit-scrollbar {
            width: 0.1rem;
            height: 0.2rem;
            background: var(--main-color);
        }

        &::-webkit-scrollbar-track {
            background: var(--main-color);
        }

        &::-webkit-scrollbar-track-piece {
            background: var(--main-color);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--font-color);
        }
    }
}

#sidebar a, .dropdown-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 1.5rem;
    color: var(--accent-color-2);
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: 1rem;
    transition: all 0.5s ease;

    span {
        font-family: "Montserrat", sans-serif;
        color: var(--accent-color-2);
        flex-grow: 1;
        transition: all 0.4s ease;
    }

    &:hover {
        background-color: var(--accent-color-1);
        
        span {
            color: white;
        }
    }
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 998;
    display: none;
}

/* SideBar - Sub Menu CSS */

#sidebar .sub-menu {
    display: grid;
    background-color: #380546;
    border-radius: 1.5rem;
    grid-template-rows: 0fr;
    transition: 0.5s ease-in-out;

    div {
        overflow: hidden;
    }

    a {
        padding-left: 2rem;

        &:hover {
            background-color: var(--accent-color-1);
            color: white;
        }
    }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;

    img {
        transition: 0.5s ease;
    }
}

.rotate img:last-child {
    rotate: -180deg;
}

/* Hamburger menu button code */

.hamburger-menu {
    display: none;

    img {
        width: clamp(2.5rem, 1vw, 3rem);
        aspect-ratio: 6/4;
    }
}

/* Media queries for nav and side bars */

@media screen and (max-width: 1300px) {
    .hideOnMobile {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .navbar {
        top: 0;
        animation: none;
        background-color: var(--nav-alt-color);
        backdrop-filter: blur(10px);
    }
}

@media screen and (orientation: portrait) {
    .navbar {
        height: 6dvh;
    }
}

/*---------------------------------------------------------------------------------------- HOME PAGE CSS -------------------------------------------------------------------------------------------*/

/* Home main div CSS */

#Home-Main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6dvh min(5rem, 5%);
    gap: 2rem;
    position: sticky;
    top: 10dvh;
    z-index: 9;

    #Heading {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        .paras {
            max-width: 30rem;
        }
    }
}

#Profile-Container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 25%;

    #Profile-Label {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;

        .paras {
            font-size: 0.8rem;
	        text-align: none;
            white-space: nowrap;
        }
    }

    #Profile-Img {
        width: 100%;
        aspect-ratio: 5/6;
        object-fit: cover;
        border: 3px solid var(--accent-color-2);
        border-radius: 50%;
    }
}

/* Home content div CSS */

#Home-Content {
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    z-index: 10;

    .Home-Sections {
        padding: min(10rem, 10%) 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./Images/Background.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        border-image: fill 1 linear-gradient(var(--main-color-translucent), var(--main-color-translucent));

        .headings {
            text-shadow: none;
        }
    }

    .Home-Div {
        margin: min(5rem, 10%) min(25rem, 25%);

        &:last-of-type {
            margin-bottom: 0rem;
        }
    }
}

/* Card swiper CSS */

.container {
    width: 100%;
    margin: min(5rem, 10%) 0rem 0rem;
    padding: 0rem min(5rem, 10%);
    position: relative;

    .card-wrapper {
        height: 20rem;
        width: clamp(30rem, 100% , 45rem);
    }
}

.card-item, .swiper-wrapper .swiper-slide {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    border-radius: 1.5rem;
    background-color: var(--accent-color-1);
    user-select: none;

    .card-image {
        height: 100%;
        aspect-ratio: 5/7;
        object-fit: cover;
        border-radius: 1.5rem;
        box-shadow: 3px 3px 5px var(--main-color);
    }

    .card-info {
        list-style-type: none;
        height: 100%;
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: var(--accent-color-2);
        border-radius: 1.5rem;
        box-shadow: 3px 3px 5px var(--main-color);

        li {
            width: fit-content;
            color: var(--main-color);
            font-weight: 600;

            &:first-of-type {
                font-size: 2.5rem;
            }
        }
    }
}

/* Card swiper-pagination CSS */

.custom-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;

    .swiper-button-prev, .swiper-button-next {
        background-repeat: no-repeat;
        background-size: 200% auto;
        background-position: center;
        position: static;
        margin: 0;
        pointer-events: auto;
    }

    .swiper-button-prev {
        background-image: url(./Icons/Home\ Icons/prev-arrow.svg);
    }

    .swiper-button-next {
        background-image: url(./Icons/Home\ Icons/next-arrow.svg);
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        display: none;
    }
    .swiper-button-disabled {
        transition: opacity 0.5s ease;
    }
}

:root {
    --swiper-pagination-color: var(--font-color);
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: var(--main-color);
    --swiper-pagination-bullet-inactive-opacity: 0.8;
    --swiper-pagination-bullet-horizontal-gap: 3px;
    --swiper-pagination-bullet-vertical-gap: 6px;
}

/* Media queries for Home page divs */

@media screen and (orientation: portrait){
    #Home-Main {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
        top: 6dvh;
        #Heading {
            align-items: center;
        }
        #Profile-Container {
            display: block;
            position: relative;
            width: 50%;
            #Profile-Label {
                position: absolute;
                top: 50%;
                right: 103%;
                transform: translateY(-50%);
            }
        }
    }
    #Home-Content .Home-Div {
		margin-inline: min(10rem, 10%);
	}
    .hint {
        padding-inline: min(10rem, 10%);
    }
}

@media screen and (max-width: 750px) {
    .container .card-wrapper {
        height: 35rem;
        width: 100%;
    }
    .card-item, .swiper-wrapper .swiper-slide {
        padding: 1rem;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        .card-image {
            height: 15rem;
            width: auto;
            aspect-ratio: 5/7;
        }
        .card-info {
            align-items: flex-start;
            justify-content: space-evenly;
            flex-direction: column;
            background-color: var(--accent-color-2);
            border-radius: 1.5rem;
            box-shadow: 3px 3px 5px var(--main-color);
        }
    }
}

@media (pointer: coarse) {
    .swiper-button-prev, .swiper-button-next {
        visibility: hidden;
    }
}

/*------------------------------------------------------------------------------------- MY CLASS PHOTOS CSS ----------------------------------------------------------------------------------------*/

.carousel-container {
    position: relative;
    user-select: none;
    width: 75%;
    overflow: hidden;
	margin: 5rem auto 0rem;
    padding-bottom: 0rem;
    border: 2px solid var(--accent-color-1);
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px var(--accent-color-1);

    .carousel-slide {
        display: flex;
        width: 100%;

        img {
            min-width: 100%;
            aspect-ratio: 16/9;
            object-fit: fill;
        }
    }

    #prev, #next {
        position: absolute;
        z-index: 10;
        left: 0;
        width: 15%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease;

        img {
            display: none;
            width: 15%;
        }

        &:hover {
            background-color: var(--main-color-translucent);
            backdrop-filter: blur(10px);

            img {
                display: block;
            }
        }
    }

    #next {
        left: 100%;
        transform: translate(-100%);
    }
}

.hint {
    width: 100%;
    text-align: center;
    padding: 2rem 0rem min(5rem, 5%);
}