/* =========================================================
   1. FONT IMPORTS
   --------------------------------------------------------- */
   
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100..900&display=swap');



/* =========================================================
   2. GLOBAL VARIABLES
   --------------------------------------------------------- */

:root {
    --background: linear-gradient(var(--clr-primary), hsl(from var(--clr-primary) h s 20%), var(--clr-secondary));

    --clr-primary: hsl(288 100% 10%);
    --clr-secondary: hsl(from var(--clr-primary) h s 30%);
    --clr-tertiary: hsl(from var(--clr-primary) h s 80%);
    --clr-accent-1: hsl(45, 100%, 40%);
    --clr-accent-2: hsl(from var(--clr-accent-1) h 50% 75%);
    --clr-font: white;

    --nav-alt-clr: hsl(from var(--clr-primary) h s 5% / 0.7);
    --sidebar-sub-clr: hsl(from var(--clr-primary) h 80% 15%);
    
    --clr-grd-1: var(--clr-accent-1);
    --clr-grd-2: hsl(from var(--clr-primary) h s 40%);
}

/* ----- LIGHT MODE ----- */

@media (prefers-color-scheme: light) {
    :root {
        --background: linear-gradient( var(--clr-primary), hsl(from var(--clr-primary) h s 80%), var(--clr-secondary));

        --clr-primary: hsl(288 100% 90%);
        --clr-secondary: hsl(from var(--clr-primary) h s 70%);
        --clr-tertiary: hsl(from var(--clr-primary) h s 20%);
        /* --clr-accent-1: hsl(45, 50%, 40%); */
        --clr-accent-1: hsl(45, 100%, 30%);
        --clr-accent-2: hsl(from var(--clr-accent-1) h 50% 25%);
        --clr-font: black;

        --nav-alt-clr: hsl(from var(--clr-primary) h s 95% / 0.7);
        --sidebar-sub-clr: hsl(from var(--clr-primary) h 80% 85%);

        --swiper-card-bg: hsl(from var(--clr-primary) h s calc(l - 5));
    }
}



/* =========================================================
   3. GLOBAL STYLES
   --------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	font-family: "Inter", sans-serif;
	font-weight: 200;
	color: var(--clr-font);
	text-decoration: none;
}

html, body {
	margin: 0;
	padding: 0;
    height: 100dvh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
}

body {
    line-height: 1.6;
    background-image: linear-gradient(hsl(from var(--clr-primary) h s l / 0.8)), url(../../public/images/Background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
	width: 0.3rem;
	background-color: var(--clr-primary);
}

::-webkit-scrollbar-track {
	background-color: var(--clr-primary);
}

::-webkit-scrollbar-track-piece {
	background-color: var(--clr-primary);
}

::-webkit-scrollbar-thumb {
  	background-color: var(--clr-accent-1);
}



/* =========================================================
   4. GLOBAL ELEMENT STYLES
   --------------------------------------------------------- */

:where(h1, h2, h3) {
    font-family: "Bitter", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 1px;
    text-wrap: balance;
}

:where(p, h1, h2, h3, h4) {
    overflow-wrap: break-word;
}

h1 {
    font-size: clamp(3rem, 8vw + 0.5rem, 6rem);
    color: var(--clr-accent-1);
}

h2 {
    font-size: clamp(1.7rem, 3vw + 0.5rem, 2.5rem);
    color: var(--clr-accent-2);
}

h3 {
    font-size: 1.5rem;
    color: var(--clr-accent-2);
}

p {
    max-width: 60ch;
	font-size: 1.2rem;
    text-wrap: pretty;
}

img, svg {
    display: block;
    max-width: 100%;
    transition: transform 0.5s ease;

    &:hover {
        transform: scale(1.02);
    }
}

hr {
    margin: 5rem auto;
    width: 70%;
    height: 3px;
    border: none;
    background-color: var(--clr-tertiary);
}



/* =========================================================
   5. COMPONENTS
   --------------------------------------------------------- */

/* WRAPPER */

.wrapper {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 80rem;
}

/* ----- MISCELLANEOUS ----- */

.link {
    font-style: italic;
    cursor: pointer;
    color: var(--clr-accent-2);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;

    &:hover {
        color: var(--clr-tertiary);
        font-weight: 800;
    }
}

.hint {
    margin-inline: auto;
    font-size: 1rem;
    color: var(--clr-accent-2);
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 998;
    display: none;
}



/* =========================================================
   6. PAGE SECTIONS
   --------------------------------------------------------- */

/* ----- HOME PAGE ----- */

.home-hero {
    padding-block: 8rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .content {
        display: grid;
        gap: 1rem;

        p {
            max-width: 40ch;
        }
    }

    .profile {
        width: 25rem;
        aspect-ratio: 5/6;
        object-fit: cover;
        border: 5px solid transparent;
        border-radius: 50%;
        background: conic-gradient(
            from var(--angle),
            var(--clr-grd-1),
            var(--clr-grd-2),
            var(--clr-grd-2),
            var(--clr-grd-1)
        ) border-box;
        animation: rotate 3s linear infinite;
    }
}

.home-content {
    margin-bottom: 5rem;
    padding: min(5rem, 5vw);
    /* width: 50rem; */
    display: grid;
    gap: 2rem;
    border-radius: 1rem;
    border: 1px solid hsla(288, 100%, 80%, 0.5);
    box-shadow: 10px 10px 20px black;
    background-color: hsl(from var(--clr-primary) h 30% calc(l - 5) / 0.7);
    backdrop-filter: blur(10px);
    justify-items: center;
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotate {
    0% {--angle: 0deg;}
    100% {--angle: 360deg;}
}

.card-wrapper {
    position: relative;
    max-width: 100%;
    width: clamp(20rem, 100%, 35rem);
    border-radius: 0.5rem;

    .card-item, .swiper-wrapper .swiper-slide {
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        border-radius: 0.5rem;
        user-select: none;
        border: 1px solid hsla(288, 100%, 80%, 0.2);
        background: var(--swiper-card-bg, hsl(from var(--clr-primary) h s calc(l + 5)));

        img {
            height: 15rem;
            aspect-ratio: 5/7;
            object-fit: cover;
            border-radius: 0.5rem;
            box-shadow: 2px 2px 5px black;
        }

        ul {
            list-style-type: none;
            width: max-content;
            display: grid;
            justify-items: start;
            gap: 0.5rem;

            li:first-of-type {
                font-weight: 600;
                font-size: 2.5rem;
                color: var(--clr-accent-1);
            }
        }
    }
}

.custom-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    padding-inline: 5rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    pointer-events: none;

    .swiper-button-prev span, .swiper-button-next span {
        font-size: 3rem;
        color: var(--clr-accent-1);
        pointer-events: auto;
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        display: none;
    }
    .swiper-button-disabled {
        transition: opacity 0.5s ease;
    }
}

:root {
    --swiper-pagination-color: var(--clr-accent-1);
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: var(--clr-font);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 3px;
    --swiper-pagination-bullet-vertical-gap: 6px;
}

/* ----- MEDIA QUERIES - HOME PAGE ----- */

@media (orientation: portrait){
    .home-hero {
        padding-block: 5rem;
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;

        .content {
            justify-items: center;
        }

        .profile {
            position: relative;

            .profile-label {
                position: absolute;
                top: 50%;
                right: 103%;
                transform: translateY(-50%);
            }
        }
    }
}

@media (pointer: coarse) {
    .swiper-button-prev, .swiper-button-next {
        visibility: hidden;
    }
}

/* ----- BADMINTON PAGE ----- */

#Badminton-Hidden-Nav {
    position: fixed;
    top: 5rem;
    left: 0rem;
    z-index: 100;
    width: 0;
    height: calc(100dvh - 5rem);
    overflow: hidden;
    interpolate-size: allow-keywords;
    border: 1px solid black;
    box-shadow: 10px 10px 20px black;
    background: var(--nav-alt-clr);
    backdrop-filter: blur(10px);
    transition: width 0.5s ease;

    ul {
        list-style-type: none;
        padding: 2rem;
        height: 100%;
        overflow-x: clip;
        overflow-y: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1.5rem;

        h3 {
            text-wrap: nowrap;
        }
    }

    li:first-of-type {
        svg {
            width: clamp(2.5rem, 1vw  + 0.5rem, 3rem);
            fill: var(--clr-tertiary);
            transition: fill 0.5s ease;

            &:hover {
                fill: var(--clr-accent-1);
            }
        }
    }

    .sub-list a {
        font-size: 1rem;
        padding-left: 2rem;
        text-wrap: nowrap;
    }
}

#Badminton-Nav-Btn {
    padding: 2px;
    display: none;
    position: fixed;
    top: 6rem;
    left: 2rem;
    z-index: 50;
    translate: 0 0;
    border-radius: 10px;
    background-color: var(--clr-secondary);
    transition: scale 0.5s ease;

    svg {
        width: clamp(2.5rem, 1vw  + 0.5rem, 3rem);
        fill: var(--clr-tertiary);
        transition: all 0.5s ease;
    }
    
    a:hover {
        transform: none;

        svg {
            fill: var(--clr-accent-1);
        }
    }

    &:hover {
        scale: 1.1;
    }
}

#Badminton-Wrapper {
    padding: 5rem 2rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    gap: min(5rem, 5vw);
}

#Badminton-Nav {
    position: sticky;
    top: 5dvh;
    height: 90dvh;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid hsla(288, 100%, 80%, 0.5);
    box-shadow: 10px 10px 20px black;
    background: hsla(288, 100%, 80%, 0.2);
    backdrop-filter: blur(10px);

    ul {
        list-style-type: none;
        padding: 2rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1.5rem;
    }

    .sub-list a {
        font-size: 1rem;
        padding-left: 2rem;
        text-wrap: nowrap;
    }
}

#Badminton-Content {
    padding-bottom: min(5rem, 5vw);

    ul {
        list-style-type: square;
        font-size: 1.2rem;
        max-width: 60ch;
        padding-left: 2rem;
        line-height: 1.5;

        li {
            color: var(--clr-font);
        }
    }

    .modal {
        top: 60%;
        left: 50%;
        max-width: 100%;
        translate: -50% -50%;
        opacity: 0;
        transition-property: overlay display opacity;
        transition-duration: 0.5s;
        transition-behavior: allow-discrete;
        outline: none;
        border: 1px solid hsla(288, 100%, 80%, 0.5);
        border-radius: 0.5rem;
        background-color: var(--clr-primary);

        &::backdrop {
            opacity: 0;
            background: linear-gradient(45deg, var(--clr-secondary), var(--clr-tertiary), var(--clr-secondary));
            transition-property: overlay display opacity;
            transition-duration: 0.5s;
            transition-behavior: allow-discrete;
        }

        .hide-modal {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            width: clamp(2.5rem, 1vw  + 0.5rem, 3rem);
            cursor: pointer;
            fill: var(--clr-accent-1);
        }
    }

    .modal[open] {
        opacity: 1;
        top: 50%;

        &::backdrop {
            opacity: 0.5;
        }

        @starting-style {
            opacity: 0;
            top: 40%;

            &::backdrop {
                opacity: 0;
            }
        }
    }

    .modal-content{
        padding: 2rem;

        h3 {
            text-align: center;
        }

        img {
            max-height: 70vh;
            max-width: 70vw;
            aspect-ratio: 9/14;
            filter: none;
            display: flex;
            justify-self: center;

            &:hover {
                transform: none;
            }
        }
    }

    .player-card {
        max-width: 70ch;
        aspect-ratio: 16/9;
        overflow: clip;
        border-radius: 0.5rem;
        box-shadow: 5px 5px 20px black;
        background-image: url(../../public/images/Lin-Dan.avif);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
        transition: all 0.5s ease;

        &:nth-of-type(2) {
            background-image: url(../../public/images/Lee-Chong-Wei.webp);
        }

        &:nth-of-type(3) {
            background-image: url(../../public/images/Chen-Long.webp);
        }

        &:nth-of-type(4) {
            background-image: url(../../public/images/Kento-Momota.jpg);
        }

        &:nth-of-type(5) {
            background-image: url(../../public/images/Kunlavut-Vitidsarn.jpg);
        }

        &:hover {
            background-size: 105%;
        }

        &:hover .player-card-content {
            transform: translateY(0);
            transition-delay: 0.5s;
            backdrop-filter: blur(2px);
            overflow-y: auto;
        }

        &:hover .player-card-content > h2::after {
            transform: scaleX(1);
        }

        &:hover .player-card-content *:not(h2) {
            opacity: 1;
            transition-delay: 1s;
        }

        .player-card-content {
            padding: 1.5rem;
            height: 100%;
            transform: translateY(70%);
            transition: transform 0.5s ease;
            background: linear-gradient(
                hsl(0 0% 0% / 0),
                hsl(0 0% 0% / 0.2) 20%,
                hsl(0 0% 0% / 1)
            );

            *:not(h2) {
                opacity: 0;
                transition: opacity 0.5s linear;
            }

            h2 {
                position: relative;
                width: max-content;
                color: #fcf9c6;
                text-shadow: 3px 3px 10px black;
            }

            p, li {
                font-size: 1rem;
                color: white;
            }

            h2::after {
                content: '';
                position: absolute;
                left: -1.5rem;
                bottom: -5px;
                height: 3px;
                width: calc(100% + 1.5rem);
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.5s ease;
                background: #fcf9c6;
            }

            .button {
                padding: 10px;
                width: fit-content;
                cursor: pointer;
                color: white;
                border-radius: 10px;
                background: #b56cc5;

                &:hover {
                    transition: color 0.5s ease;
                    color: black;
                }
            }
        }
    }
}

#Badminton-Aside {
    padding-bottom: 5rem;
    display: grid;
    align-content: start;
    justify-items: center;
    gap: 1.5rem;

    h2 {
        color: var(--clr-accent-1);
        text-wrap: nowrap;
    }

    .aside-card {
        padding: 1rem;
        width: 350px;
        display: grid;
        gap: 0.7rem;
        border-radius: 0.5rem;
        border: 1px solid hsla(288, 100%, 80%, 0.5);
        box-shadow: 10px 10px 20px black;
        background: hsla(288, 100%, 80%, 0.2);
        backdrop-filter: blur(5px);
        transition: transform 0.5s ease;

        img {
            aspect-ratio: 16/9;
            box-shadow: 4px 4px 10px black;
            border-radius: 0.5rem;
            transform: none;
        }

        p {
            text-align: justify;
            font-size: 1rem;
            line-height: 1.3;
        }

        &:hover {
            transform: scale(1.02);
        }
    }
}

/* ----- MEDIA QUERIES - BADMINTON PAGE ----- */

@media screen and (max-width: 1300px) {
    #Badminton-Nav {
        display: none;
    }

    #Badminton-Nav-Btn {
        display: block;
    }

    #Badminton-Wrapper {
        flex-direction: column;
    }

    #Badminton-Content {
        margin-inline: auto;
    }

    #Badminton-Aside {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: stretch;

        h2 {
            font-size: clamp(3rem, 8vw + 0.5rem, 6rem);
            grid-column: 1/-1;
        }
        
        .aside-card {
            width: auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}