/* =========================================================
   1. FONT IMPORTS
   --------------------------------------------------------- */
   
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100..900&display=swap');



/* =========================================================
   2. GLOBAL VARIABLES
   --------------------------------------------------------- */

:root {
    --background: url(../images/Background.jpg);

    --clr-primary: hsl(288 100% 10%);
    --clr-primary-surface: hsl(from var(--clr-primary) h 50% 30%);
    --clr-secondary: hsl(from var(--clr-primary) h s 30%);
    --clr-tertiary: hsl(from var(--clr-primary) h s 80%);
    --clr-accent-1: hsl(45 100% 40%);
    --clr-accent-2: hsl(from var(--clr-accent-1) h 50% 75%);
    --clr-accent-3: hsl(160 100% 75%);
    --clr-font: white;

    --nav-alt-clr: hsl(from var(--clr-primary) h s 5% / 0.7);
    --sidebar-sub-clr: hsl(from var(--clr-primary) h 80% 15%);
    
    --clr-grd-1: var(--clr-accent-1);
    --clr-grd-2: hsl(from var(--clr-primary) h s 40%);

    --shadow-color: 289 100% 2%;
    --shadow:
        0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.68),
        0.7px 1.3px 1.4px -1.2px hsl(var(--shadow-color) / 0.57),
        2.1px 4.1px 4.3px -2.5px hsl(var(--shadow-color) / 0.45),
        5.6px 11.3px 11.8px -3.7px hsl(var(--shadow-color) / 0.34);
}

/* ----- LIGHT MODE ----- */

@media (prefers-color-scheme: light) {
    :root {
        --background: url(../images/Background-Light.jpg);

        --clr-primary: hsl(288 100% 90%);
        --clr-primary-surface: hsl(from var(--clr-primary) h 50% 70%);
        --clr-secondary: hsl(from var(--clr-primary) h s 70%);
        --clr-tertiary: hsl(from var(--clr-primary) h s 20%);
        --clr-accent-1: hsl(45 100% 30%);
        --clr-accent-2: hsl(from var(--clr-accent-1) h 50% 25%);
        --clr-accent-3: hsl(160 100% 25%);
        --clr-font: black;

        --nav-alt-clr: hsl(from var(--clr-primary) h s 95% / 0.7);
        --sidebar-sub-clr: hsl(from var(--clr-primary) h 80% 85%);

        --swiper-card-bg: hsl(from var(--clr-primary) h s calc(l - 5));

        --shadow-color: 289 40% 50%;
    }
}



/* =========================================================
   3. GLOBAL STYLES
   --------------------------------------------------------- */

html, body {
	margin: 0;
	padding: 0;
    height: 100dvh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
}

body {
    line-height: 1.6;
    background-image: linear-gradient(hsl(from var(--clr-primary) h s l / 0.8)), var(--background);
    background-color: var(--clr-primary);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
	width: 0.3rem;
	background-color: var(--clr-primary);
}

::-webkit-scrollbar-track {
	background-color: var(--clr-primary);
}

::-webkit-scrollbar-track-piece {
	background-color: var(--clr-primary);
}

::-webkit-scrollbar-thumb {
  	background-color: var(--clr-accent-1);
}

#overlay {
    background: hsl(0 0% 0% / 0.5);
    position: fixed;
    inset: 0;
    z-index: 998;
    display: none;
}



/* =========================================================
   4. GLOBAL RESETS
   --------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	font-family: "Inter", sans-serif;
	font-weight: 200;
	color: var(--clr-font);
	text-decoration: none;
}

:where(h1, h2, h3) {
    font-family: "Bitter", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 1px;
    text-wrap: balance;
}

:where(p, h1, h2, h3) {
    overflow-wrap: break-word;
}

h1 {
    font-size: clamp(3rem, 8vw + 0.5rem, 6rem);
    color: var(--clr-accent-1);
}

h2 {
    font-size: clamp(1.7rem, 3vw + 0.5rem, 2.5rem);
    color: var(--clr-accent-2);
}

h3 {
    font-size: 1.5rem;
    color: var(--clr-accent-2);
}

p {
	font-size: 1.2rem;
    text-wrap: pretty;
}

img, svg, Image {
    display: block;
    max-width: 100%;
}

hr {
    margin: 5rem auto;
    width: 70%;
    height: 3px;
    border: none;
    background-color: var(--clr-tertiary);
}



/* =========================================================
   5. COMPONENTS
   --------------------------------------------------------- */

/* WRAPPER */

.wrapper {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 80rem;
}

/* ----- MISCELLANEOUS ----- */

.link {
    font-style: italic;
    cursor: pointer;
    color: var(--clr-tertiary);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;

    &:hover {
        text-decoration: none;
        color: var(--clr-accent-3);
    }
}

.hint {
    margin-inline: auto;
    font-size: 1rem;
    color: var(--clr-accent-3);
}



/* =========================================================
   6. PAGE SECTIONS
   --------------------------------------------------------- */

/* ----- HOME PAGE ----- */

:where(.about-me, .my-family) {
    margin-top: 18rem;
}

.home-hero {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .content {
        display: grid;
        gap: 1rem;

        p {
            max-width: 40ch;
        }
    }

    .profile {
        width: 25rem;
        height: auto;
        object-fit: cover;
        border: 5px solid transparent;
        border-radius: 50%;
        background: conic-gradient(
            from var(--angle),
            var(--clr-grd-1),
            var(--clr-grd-2),
            var(--clr-grd-2),
            var(--clr-grd-1)
        ) border-box;
        animation: rotate 3s linear infinite;
    }
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotate {
    0% {--angle: 0deg;}
    100% {--angle: 360deg;}
}

.about-me {
    display: flex;
    gap: 2rem;

    .about-me-content {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;

        p {
            max-width: 40ch;
        }

        h2 {margin-top: auto;}

        .socials {
            width: fit-content;
            display: flex;
            gap: 1rem;

            svg {
                height: 2rem;
                fill: var(--clr-font);
                transition: all 0.5s ease;

                &:hover {
                    fill: var(--clr-accent-3);
                    transform: scale(1.1);
                }
            }
        }
    }

    .about-me-grid {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(23ch, 1fr));
        gap: 1.5rem;

        .about-me-tile {
            padding: 2rem 1rem;
            display: grid;
            gap: 1rem;
            align-content: start;
            justify-items: center;
            border-radius: 0.5rem;
            box-shadow: var(--shadow);
            background: hsl(from var(--clr-primary-surface) h s l / 0.5);
            backdrop-filter: blur(5px);

            svg {
                height: 80px;
                fill: var(--clr-accent-2);
            }

            p {
                max-width: 30ch;
                font-size: 0.9rem;
                line-height: 1.4;
                text-align: center;
                color: hsl(from var(--clr-font) h s calc(l - 15));
            }
        }
    }
}

.my-family {
    margin-bottom: 12rem;
    display: grid;
    justify-items: center;
    gap: 3rem;
}

.card-wrapper {
    position: relative;
    max-width: 100%;
    width: clamp(20rem, 100%, 35rem);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);

    .card-item, .swiper-wrapper .swiper-slide {
        padding: 2rem;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        border-radius: 0.5rem;
        background: hsl(from var(--clr-primary-surface) h s l / 0.5);
        backdrop-filter: blur(5px);

        .card-image {
            width: 10rem;
            height: auto;
            object-fit: cover;
            border-radius: 0.5rem;
            /* box-shadow: var(--shadow); */
        }

        ul {
            list-style-type: none;
            width: max-content;
            display: grid;
            justify-items: start;
            gap: 0.15rem;

            li {
                font-size: 0.9rem;
                color: hsl(from var(--clr-font) h s calc(l - 15));
            }

            h3 {
                font-size: 2.5rem;
                margin-bottom: 0.3rem;
            }
        }
    }
}

.custom-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    padding-inline: 5rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    pointer-events: none;

    .swiper-button-prev span, .swiper-button-next span {
        font-size: 3rem;
        color: var(--clr-accent-1);
        pointer-events: auto;
        user-select: none;
    }

    .swiper-navigation-icon {
        display: none;
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        display: none;
    }
    .swiper-button-disabled {
        transition: opacity 0.5s ease;
    }
}

:root {
    --swiper-pagination-color: var(--clr-accent-1);
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: hsl(from var(--clr-font) h s l / 0.3);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 3px;
    --swiper-pagination-bullet-vertical-gap: 6px;
}

/* ----- MEDIA QUERIES - HOME PAGE ----- */

@media (max-width: 1100px) {
    .home-hero {
        flex-direction: column-reverse;

        .content {
            justify-items: center;
            text-align: center;

            p {max-width: 50ch;}
        }
    }

    .about-me {
        flex-direction: column;
        gap: 5rem;

        .about-me-content {
            align-items: center;
            text-align: center;

            h2 {margin-top: 1rem;}

            p {max-width: 50ch;}
        }
    }
}

@media (pointer: coarse) {
    .swiper-button-prev, .swiper-button-next {
        visibility: hidden;
    }
}

/* ----- BADMINTON PAGE ----- */

.badminton-toc {
    position: fixed;
    top: 5rem;
    left: 0;
    z-index: 100;
    width: 0;
    height: calc(100dvh - 5rem);
    overflow: clip;
    interpolate-size: allow-keywords;
    box-shadow: var(--shadow);
    background: var(--nav-alt-clr);
    backdrop-filter: blur(10px);
    transition: width 0.5s ease;

    ul {
        list-style-type: none;
        padding: 2rem;
        height: 100%;
        overflow-x: clip;
        overflow-y: auto;
        display: grid;
        align-content: start;
        gap: 1.5rem;

        h3 {
            text-wrap: nowrap;
        }
    }

    li:first-of-type{

        svg {
            width: 1.5rem;
            fill: var(--clr-accent-1);
        }
    }

    .sub-list a {
        font-size: 1rem;
        padding-left: 2rem;
        text-wrap: nowrap;
    }
}

.badminton-toc-btn {
    padding: 2px;
    display: none;
    position: fixed;
    top: 6rem;
    left: 2rem;
    z-index: 50;
    border-radius: 0.4rem;
    border: 1px solid var(--clr-tertiary);
    backdrop-filter: blur(10px);

    svg {
        width: clamp(2.5rem, 1vw  + 0.5rem, 3rem);
        fill: var(--clr-accent-3);
    }
}

.badminton-wrapper {
    padding-block: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.badminton-content {
    max-width: 77ch;

    ul {
        list-style-type: square;
        font-size: 1.2rem;
        max-width: 60ch;
        padding-left: 2rem;
        line-height: 1.5;

        li {
            color: var(--clr-font);
        }
    }

    .modal {
        top: 60%;
        left: 50%;
        max-width: 100%;
        translate: -50% -50%;
        opacity: 0;
        overflow: visible;
        transition-property: overlay display opacity;
        transition-duration: 0.5s;
        transition-behavior: allow-discrete;
        outline: none;
        border: 1px solid hsl(from var(--clr-tertiary) h s l / 0.5);
        border-radius: 0.5rem;
        background-color: var(--clr-primary);

        &::backdrop {
            opacity: 0;
            background: linear-gradient(45deg, var(--clr-secondary), var(--clr-tertiary), var(--clr-secondary));
            transition-property: overlay display opacity;
            transition-duration: 0.5s;
            transition-behavior: allow-discrete;
        }

        .hide-modal {
            position: absolute;
            top: -4rem;
            right: 0;
            padding: 0.5rem;
            width: 3rem;
            cursor: pointer;
            fill: var(--clr-tertiary);
            border-radius: 50%;
            border: 1px solid hsl(from var(--clr-tertiary) h s l / 0.5);
            background-color: var(--clr-primary);
            transition: all 0.5s ease;

            &:hover {
                fill: var(--clr-accent-1);
            }
        }
    }

    .modal[open] {
        opacity: 1;
        top: 50%;

        &::backdrop {
            opacity: 0.5;
        }

        @starting-style {
            opacity: 0;
            top: 40%;

            &::backdrop {
                opacity: 0;
            }
        }
    }

    .modal-content{
        padding: 2rem;
        display: grid;
        align-content: start;
        /* justify-items: center; */
        gap: 1rem;

        h3 {
            text-align: center;
        }

        .court-img {
            max-height: 50vh;
            width: 70vw;
            max-width: 20rem;
            display: flex;
            justify-self: center;

            &:hover {
                transform: none;
            }
        }
    }

    .player-card {
        aspect-ratio: 16/9;
        overflow: clip;
        border-radius: 0.5rem;
        box-shadow: var(--shadow);
        background-image: url(../images/Lin-Dan.avif);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
        transition: all 0.5s ease;

        &:nth-of-type(2) {
            background-image: url(../images/Lee-Chong-Wei.webp);
        }

        &:nth-of-type(3) {
            background-image: url(../images/Chen-Long.webp);
        }

        &:nth-of-type(4) {
            background-image: url(../images/Kento-Momota.jpg);
        }

        &:nth-of-type(5) {
            background-image: url(../images/Kunlavut-Vitidsarn.jpg);
        }

        &:hover {
            background-size: 105%;
        }

        &:hover .player-card-content {
            transform: translateY(0);
            transition-delay: 0.5s;
            backdrop-filter: blur(2px);
            overflow-y: auto;
        }

        &:hover .player-card-content > h2::after {
            transform: scaleX(1);
        }

        &:hover .player-card-content *:not(h2) {
            opacity: 1;
            transition-delay: 1s;
        }

        .player-card-content {
            padding: 1.5rem;
            height: 100%;
            transform: translateY(70%);
            transition: transform 0.5s ease;
            background: linear-gradient(
                hsl(0 0% 0% / 0),
                hsl(0 0% 0% / 0.2) 20%,
                hsl(0 0% 0% / 1)
            );

            *:not(h2) {
                opacity: 0;
                transition: opacity 0.5s linear;
            }

            h2 {
                position: relative;
                width: max-content;
                color: #fcf9c6;
                text-shadow: 3px 3px 10px black;
            }

            p, li {
                font-size: 1rem;
                color: white;
            }

            h2::after {
                content: '';
                position: absolute;
                left: -1.5rem;
                bottom: -5px;
                height: 3px;
                width: calc(100% + 1.5rem);
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.5s ease;
                background: #fcf9c6;
            }

            .button {
                padding: 10px;
                width: fit-content;
                cursor: pointer;
                color: white;
                border-radius: 10px;
                background: #b56cc5;

                &:hover {
                    transition: color 0.5s ease;
                    color: black;
                }
            }
        }
    }
}

.badminton-aside {
    padding-bottom: 5rem;
    display: grid;
    align-content: start;
    justify-items: center;
    gap: 1.5rem;

    h2 {
        color: var(--clr-accent-1);
    }

    .aside-card {
        padding: 1rem;
        width: 350px;
        display: grid;
        align-content: start;
        gap: 0.4rem;
        border-radius: 0.5rem;
        box-shadow: var(--shadow);
        background: hsl(from var(--clr-primary-surface) h s l / 0.5);
        backdrop-filter: blur(5px);
        transition: transform 0.5s ease;

        img {
            aspect-ratio: 16/9;
            border-radius: 0.5rem;
            transform: none;
        }

        p {
            font-size: 0.9rem;
            line-height: 1.4;
            color: hsl(from var(--clr-font) h s calc(l - 15));
        }

        &:hover {
            transform: scale(1.02);
        }
    }
}

/* ----- MEDIA QUERIES - BADMINTON PAGE ----- */

@media (max-width: 1100px) {

    .badminton-wrapper {
        flex-direction: column;
        gap: 10rem;
    }

    .badminton-toc-btn {
        display: block;
    }

    .badminton-content {
        margin-inline: auto;
    }

    .badminton-aside {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        h2 {
            font-size: clamp(3rem, 8vw + 0.5rem, 6rem);
            grid-column: 1/-1;
        }
        
        .aside-card {
            width: auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}