---

import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";

import Court from "../images/Badminton-Court.png";

---

<MainLayout />

<!-- Hidden toc nav -->

<button class="badminton-toc-btn">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
        <path d="M360-200v-80h480v80H360Zm0-240v-80h480v80H360Zm0-240v-80h480v80H360ZM200-160q-33 0-56.5-23.5T120-240q0-33 23.5-56.5T200-320q33 0 56.5 23.5T280-240q0 33-23.5 56.5T200-160Zm0-240q-33 0-56.5-23.5T120-480q0-33 23.5-56.5T200-560q33 0 56.5 23.5T280-480q0 33-23.5 56.5T200-400Zm0-240q-33 0-56.5-23.5T120-720q0-33 23.5-56.5T200-800q33 0 56.5 23.5T280-720q0 33-23.5 56.5T200-640Z"/>
    </svg>
</button>

<nav class="badminton-toc">
    <ul>
        <li>
            <button class="badminton-toc-close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="200 -760 560 580">
                    <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                </svg>
            </button>
        </li>
        <li>
            <a href="#topic-1"><h3>Introduction</h3></a>
            <p class="sub-list"><a href="#topic-1-sub-1">What is badminton?</a></p>
            <p class="sub-list"><a href="#topic-1-sub-2">What it takes to go pro</a></p>
        </li>
        <li><a href="#topic-2"><h3>Badminton and I</h3></a></li>
        <li>
            <a href="#topic-3"><h3>Men's Singles</h3></a>
            <p class="sub-list"><a href="#topic-3-sub-1">Overview</a></p>
            <p class="sub-list"><a href="#topic-3-sub-2">Favourite Players</a></p>
        </li>
        <li><a href="#topic-4"><h3>Women's Singles</h3></a></li>
    </ul>
</nav>

<!-- Main content -->

<main class="badminton-wrapper wrapper">

    <!-- Main article -->

    <article class="badminton-content">

        <!-- Introduction -->

        <h1 id="topic-1">Introduction</h1><br>

        <p>
            This introduction is for those who are not aware of badminton as a sport so skip on ahead using the sidebar (or scroll) if you know the basics of this sport!
        </p><br>

        <h2 id="topic-1-sub-1">What is badminton?</h2><br>

        <p>
            It is a racquet sport involving a racquet and a shuttlecock. You use the racquet to hit the shuttlecock above, and to the other side of a net. It is formally played on a <span class="show-modal link">rectangular court</span> with thick lines to indicate boundaries but you can usually find people enjoying badminton in places like parks, yards or even beaches.<br><br>

            Badminton has pretty simple rules at the beginners level. There are boundaries that differentiate between 'in' and 'out' similar to tennis and other racquet sports. Badminton also has different 'modes' or disciplines in the sport mainly singles (1v1: Men, Women) and doubles (2v2: Men, Women, Mixed) with each having different boundaries. The main goal of a badminton match is to win using points and they are earned in a variety of ways.<br><br>
            
            Some of the basic ways to earn points include:<br><br>
            <ul>
                <li>Your opponent hits the shuttle such that it does not travel above the net to your side of the court</li>
                <li>Your opponent hits the shuttle such that it does travel above the net to your side of the court but lands out of bounds</li>
                <li>You hit the shuttle such that it travels above the net and in bounds of your opponents side of the court</li>
            </ul>
        </p><br>

        <dialog class="modal">
            <div class="modal-content">
                <h3>A standard badminton court!</h3>
                <Image src={Court} alt="" class="court-img" />
            </div>
            <svg class="hide-modal" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
            </svg>
        </dialog>

        <h2 id="topic-1-sub-2">What it takes to go pro</h2><br>

        <p>
            On the surface level, badminton may seem like a very straight-forward sport with minimal to no strategy. But infact the opposite is true at the elite levels, it requires a deep understanding and control of various aspects like the following to consider it professionally:<br><br>

            <ul>
                <li>Timing</li>
                <li>Balance</li>
                <li>Speed</li>
                <li>Rhythm</li>
                <li>General upper and lower body strength</li>
                <li>Ability to concentrate strength into small points of impact</li>
                <li>Ability to control strength and be delicate</li>
            </ul>
        </p><br>
        
        <p>
            The international governing organization for all things badminton is the <a class="link" href="https://bwfbadminton.com/" target="#">BWF</a> (Badminton World Federation). They conduct tournaments throughout the world for players from different countries to participate in and have a chance of representing their nation.<br><br>
            
            BWF also has a comprehensive and detailed ranking system which consists of players earning points by participating and achieving positions in the tournaments (Eg: Quaterfinalist, Semfinalist, Runner-up or Winner). Visit the BWF site for more if you are interested!<br><br>

            Out of the millions of players who enjoy the sport, only a handful make it to the professional level only to further be dominated by greater players who have deeper understandings of much more complex concepts.
        </p>

        <hr>

        <!-- Badminton and I -->

        <h1 id="topic-2">Badminton and I</h1><br>

        <p>
            Badminton is an important part of my life as a passion and as my favorite sport/fitness activity. I started playing badminton in 10th grade casually with my dad and cousin as a leisurely time pass and fitness activity on the weekends.<br><br>

            After joining university, playing badminton became a part of my daily life during free hours. Watching tutorials and international tournament matches quickly became a major hobby for me which helped me improve in various aspects like technical, tactical, physical and mental. Furthermore, I would try and apply anything and everything that I learned during the time I played in university.<br><br>

            This page is only for fun and to be taken lightly! Just a bunch of personal opinions and random information on some of my favorite players whom I consider great as they possess skills, knowledge or an understanding that is superior to an average professional player on the world circuit.
        </p>

        <hr>

        <!-- Men's Singles -->

        <h1 id="topic-3">Men's Singles</h1><br>

        <h2 id="topic-3-sub-1">Overview</h2><br>

        <p>
            Mens singles is all about strength, speed and attack. The golden era of this discipline included players like <a class="link" href="https://en.wikipedia.org/wiki/Lin_Dan" target="#">Lin Dan</a> (China), <a class="link" href="https://en.wikipedia.org/wiki/Chen_Long" target="#">Chen Long</a> (China) and <a class="link" href="https://en.wikipedia.org/wiki/Lee_Chong_Wei" target="#">Lee Chong Wei</a> (Malaysia), they brought a new perspective to the game with increasing rally IQ along with crazy fitness levels which quickly became major requirements to survive at the highest level of this discipline.<br><br>
            
            Following this, a new era of players have emerged. These new players have studied the previous legends; followed their footsteps by improving upon the strategies, playstyles and minor details that made them great, and incorporated all of it into their game while bringing their own flare and style to it. Here are my top 5 favourite men's singles players of all time...
        </p><br>

        <h2 id="topic-3-sub-2">Favourite Players</h2><br>

        <div class="player-card">
            <div class="player-card-content">
                <h2>1. Lin Dan</h2><br>
                <p>
                    Undeniably the GOAT of men's singles! In my opinion, the smartest singles player to ever grace the sport.
                </p><br>
                <p>
                    Lin Dan's strengths:<br><br>
                    <ul>
                        <li>Anticipation: He reads his opponent's movements, strokes and habits like an open book while he seems to walk on court!</li><br>
                        <li>Mental Strength: Known for his god-like mental composure under pressure, never letting emotions get to him.</li><br>
                        <li>Strategic Thinking: Lin Dan is the master of tailoring strategies specific to his opponents and court conditions.</li>
                    </ul>
                </p><br><br>
                <a class="know-more-btn" href="https://en.wikipedia.org/wiki/Lin_Dan" target="#">Know more!</a>
            </div>
        </div><br>

        <div class="player-card">
            <div class="player-card-content">
                <h2>2. Lee Chong Wei</h2><br>
                <p>
                    No one remembers the runner-up unless its Lee Chong Wei. The most consistent singles player of all time!
                </p><br>
                <p>
                    Lee Chong Wei's strengths:<br><br>
                    <ul>
                        <li>Fitness & Speed: One of the fastest, if not the fastest singles player ever! His fitness and conditioning is what led him to be so consistent for years.</li><br>
                        <li>Overhead Deception: In my opinion, LCW has the most amount of variety and quality in his overhead attack compared to anyone else!</li><br>
                        <li>Defense: Easily in the top 3 for the best defenses ever in singles!</li>
                    </ul>
                </p><br><br>
                <a class="know-more-btn" href="https://en.wikipedia.org/wiki/Lee_Chong_Wei" target="#">Know more!</a>
            </div>
        </div><br>

        <div class="player-card">
            <div class="player-card-content">
                <h2>3. Chen Long</h2><br>
                <p>
                    The Great Wall of China himself! One of the most underrated legends due to being shadowed by the Lin-Lee rivalry.
                </p><br>
                <p>
                    Chen Long's strengths:<br><br>
                    <ul>
                        <li>Mental Attitude: Underrated strength which helps him ignore errors or mistakes and focus on strategy.</li><br>
                        <li>Defense: In my opinion the best defense in any singles player ever. Theres a reason he is known as The Great Wall of China!</li><br>
                        <li>Counter-Attack: The way he springs back from his defensive position using his quad strength hunting for counter attacking chances is a beauty!</li>
                    </ul>
                </p><br><br>
                <a class="know-more-btn" href="https://en.wikipedia.org/wiki/Chen_Long" target="#">Know more!</a>
            </div>
        </div><br>

        <div class="player-card">
            <div class="player-card-content">
                <h2>4. Kento Momota</h2><br>
                <p>
                    The rallying monster who never gets tired! Known for his mastery in defense, control and patience on court.
                </p><br>
                <p>
                    Kento Momota's strengths:<br><br>
                    <ul>
                        <li>Patience, Stamina & Efficiency: The most patient player I have ever seen! He plays a 'passive attack' game which forces opponents into errors while he does not get tired because of his efficient footwork and swing style</li><br>
                        <li>Defense & neutralizing: A very smart defensive playstyle. He neutralizes and defends opponents' attempts at attacking effortlessly!</li><br>
                        <li>Swift Attack: Similar to Lin Dan, his quick and timed aggressions surprise opponents who are not expecting it due to his overall relatively slow and controlled rhythm.</li>
                    </ul>
                </p><br><br>
                <a class="know-more-btn" href="https://en.wikipedia.org/wiki/Kento_Momota" target="#">Know more!</a>
            </div>
        </div><br>

        <div class="player-card">
            <div class="player-card-content">
                <h2>5. Kunlavut Vitidsarn</h2><br>
                <p>
                    The big game player and the 3-game god! Widely recognised by his undying stamina and exceptional rally IQ.
                </p><br>
                <p>
                    Kunlavut Vitidsarn's strengths:<br><br>
                    <ul>
                        <li>Pattern Recognition: He recognizes patterns or habits of his opponents and silently uses it to his advantage. Players are left wondering how they lost the rally and in turn, the match!</li><br>
                        <li>Mental Fortitude: Vitidsarn's mental composure, error rate and decision making at high stake moments are why he is known as a big game player!</li><br>
                        <li>Stamina & Endurance: His efficiency and staying power in exhasuting rallies and matches has given him the nick-name the '3-Game God' as he wins majority of the matches that go to the final set.</li>
                    </ul>
                </p><br><br>
                <a class="know-more-btn" href="https://en.wikipedia.org/wiki/Kunlavut_Vitidsarn" target="#">Know more!</a>
            </div>
        </div>

        <hr>
        
        <!-- Women's Singles -->

        <h1 id="topic-4">Women's Singles</h1><br>

        <p>
            (In the works...)
        </p>

    </article>

    <!-- useful articles aside -->

    <aside class="badminton-aside">

        <h2>Useful articles!</h2>

        <div class="aside-card">
            <a href="https://badminton-insight.com/the-4-grips-in-badminton/" target="#">
                <img src="https://badminton-insight.com/wp-content/uploads/2021/03/4-Grips-In-Badminton-1024x576.png">
            </a>
            <a href="https://badminton-insight.com/the-4-grips-in-badminton/" target="#"><h3>Badminton Grips</h3></a>
            <p>They say a badminton match never has the exact same situation twice within it and so different grips are used for different situations. This article provides a basic guide of when and how to use them.</p>
        </div>

        <div class="aside-card">
            <a href="https://badminton-insight.com/how-to-do-a-forehand-clear-in-badminton/" target="#">
                <img src="https://badminton-insight.com/wp-content/uploads/2024/01/Forehand-Clear-Tutorial-1-1024x576.png">
            </a>
            <a href="https://badminton-insight.com/how-to-do-a-forehand-clear-in-badminton/" target="#"><h3>Basic Shots: Clear</h3></a>
            <p>The clear in badminton is a basic shot for everyone to master. This article has all that you need to learn the technique for an effortless clear.</p>
        </div>

        <div class="aside-card">
            <a href="https://badminton-insight.com/how-to-smash-in-badminton/" target="#">
                <img src="https://badminton-insight.com/wp-content/uploads/2023/10/Smash-Tutorial-1024x576.png">
            </a>
            <a href="https://badminton-insight.com/how-to-smash-in-badminton/" target="#"><h3>Basic Shots: Smash</h3></a>
            <p>If you are going to win matches, it is with smashes! So use this article to learn the right technique for a powerful smash because without smashes, there is no badminton!. </p>
        </div>        

        <div class="aside-card">
            <a href="https://badminton-insight.com/how-to-improve-as-a-beginner-in-badminton/" target="#">
                <img src="https://badminton-insight.com/wp-content/uploads/2024/08/maxresdefault-3-1024x576.webp">
            </a>
            <a href="https://badminton-insight.com/how-to-improve-as-a-beginner-in-badminton/" target="#"><h3>Common Beginner Mistakes</h3></a>
            <p>If you are a beginner, you likely commit mistakes unknowingly. This article has a couple technical ones that you can keep in mind and correct right away!</p>
        </div>
        
    </aside>

</main>

<script src="/Portfolio/scripts/ui/modal.js" is:inline />
<script src="/Portfolio/scripts/ui/toc.js" is:inline />

<style>

    :root {
        --bg-gradient: hsla(288, 100%, 5%, 0.9);
    }

    @media (prefers-color-scheme: light) {
        :root {
            --bg-gradient: hsla(288, 100%, 90%, 0.85);
        }
    }

    body {
        background-image: linear-gradient(var(--bg-gradient)), url(../images/Badminton-Background.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
</style>