---

import MainLayout from "../layouts/MainLayout.astro";

---

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
</head>

<MainLayout></MainLayout>



<div class="wrapper">

    <div class="home-hero">
        <div class="content">
            <h1>Hello!</h1>
            <p>
                I'm Mahesh! Welcome to my first website creation which also happens to be my personal portfolio. Basically just a lot of random stuff about me and what I like/do.
            </p>
        </div>
        <img class="profile" src="Portfolio/images/Maheshwar Profile.jpg">
    </div>

    <main class="home-content">

        <h1>About Me</h1>

        <p>
            My full name is Maheshwar Rathakrishnan, I usually go by Mahesh. My native place is a little village called Melur in the Nilgiris district of Tamil Nadu, India. The language spoken there as well as my mother tongue is Badaga. <a class="link" href="https://en.wikipedia.org/wiki/Badagas" target="#">Badagas</a> are a tribal community that has migrated from Karnataka and settled in the Nilgiris. The language is a mix of dominantly Kannada along with minimal aspects from Tamil.
        </p>
        <p>
            I live in Sharjah and study in Dubai, both are emirates (states) of the United Arab Emirates (UAE) located in Middle-East Asia. I did my studies upto middle school (KG-1 to Grade 5) in a school called Kindergarten Starters (KGS) now renamed to GEMS Legacy School. I completed my high school (Grade 6 to 12) in Our Own High School, Alwarqa Boys and am currently studying B.E. Computer Science at BITS Pilani Dubai Campus.
        </p>
        
        <h1>My Family</h1>

        <p>
            We are a family of four. My father's name is Rathakrishnan Mathan, everyone calls him by Ratha. My mother's name is Sreedevi Lakshmanan, she goes by Sree. I have an elder sister and her name is Deepthi, her name is shortened to Deepu. She completed high school in the same school as I did but in the only-girls branch (Our Own English High School, Alwarqa Girls). She also completed B.E. Computer Science (2017-2021) in the same university that I study at currently, BITS Pilani Dubai Campus.
        </p>

        <div class="card-wrapper swiper mySwiper">
            <ul class="card-list swiper-wrapper">

                <li class="card-item swiper-slide">
                    <img src="../../public/images/Rathakrishnan.jpg" class="card-image">
                    <ul class="card-info">
                        <li>DAD</li>
                        <li>Name: Rathakrishnan</li>
                        <li>Born: Mar 8, 1969</li>
                        <li>Birth Place: Coonoor, Tamil Nadu</li>
                        <li>University: TN Agricultural University</li>
                        <li>Degree: B.E Agriculture</li>
                        <li>Occupation: Irrigation Design</li>
                    </ul>
                </li>

                <li class="card-item swiper-slide">
                    <img src="../../public/images/Sreedevi.jpg" class="card-image">
                    <ul class="card-info">
                        <li>MOM</li>
                        <li>Name: Sreedevi</li>
                        <li>Born: May 7, 1975</li>
                        <li>Birth Place: Ooty, Tamil Nadu</li>
                        <li>University: Bharathiar University</li>
                        <li>Degree: M.SC Zoology</li>
                        <li>Occupation: House Wife</li>
                    </ul>
                </li>
                
                <li class="card-item swiper-slide">
                    <img src="../../public/images/Deepthi.jpg" class="card-image">
                    <ul class="card-info">
                        <li>SISTER</li>
                        <li>Name: Deepthi</li>
                        <li>Born: Mar 24, 2000</li>
                        <li>Birth Place: Ooty, Tamil Nadu</li>
                        <li>University: BITS Pilani Dubai Campus</li>
                        <li>Degree: B.E Computer Science</li>
                        <li>Occupation: Working</li>
                    </ul>
                </li>

                <li class="card-item swiper-slide">
                    <img src="../../public/images/Maheshwar.jpg" class="card-image">
                    <ul class="card-info">
                        <li>MYSELF</li>
                        <li>Name: Maheshwar</li>
                        <li>Born: Dec 3, 2004</li>
                        <li>Birth Place: Sharjah, UAE</li>
                        <li>University: BITS Pilani Dubai Campus</li>
                        <li>Degree: B.E Computer Science</li>
                        <li>Occupation: Student</li>
                    </ul>
                </li>

            </ul>

            <div class="swiper-pagination"></div>

            <div class="custom-navigation">
                <div class="swiper-button-prev"><span>&lt;</span></div>
                <div class="swiper-button-next"><span>&gt;</span></div>
            </div>
            
        </div>

        <p class="hint">Swipe over the cards to slide through them!</p>

    </main>

</div>

<!-- Swiper JS -->


<!-- Initializing swiper -->

<!-- <script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 100,
        grabCursor: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".custom-navigation .swiper-button-next",
            prevEl: ".custom-navigation .swiper-button-prev",
        },
    });
</script> -->