---

import MainHeader from "../components/MainHeader.astro";
import '../styles/global.css';
import '../../script.js';

---

<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width initial-scale=1">
</head>

<body>

    <MainHeader></MainHeader>

    <slot></slot>

    <div id="overlay" onclick="hideSideBar()"></div>

</body>
</html>