---

import { ClientRouter } from "astro:transitions";
import MainHeader from "../components/MainHeader.astro";
import '../styles/global.css';

---

<html lang="en">

<head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <script src="/Portfolio/scripts/global.js" is:inline defer></script>
    <ClientRouter />
</head>

<body>

    <MainHeader />

    <slot />

    <div id="overlay" onclick="hideSideBar()"></div>

</body>
</html>